@model SnowboardShop.Models.Snowboard

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Snowboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.camber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.camber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.flex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.flex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.shape)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.shape)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.urlPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.urlPhoto)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    }
    @if (User.IsInRole("Manager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    }
    @if (User.IsInRole("User"))
    {
        @Html.ActionLink("Ajouter au panier", "AddSnowboard", "Snowboards", new { id = Model.name }, null )
    }
     | <a asp-action="Index">Back to List</a>
</div>
