@model IEnumerable<SnowboardShop.Models.Snowboard>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.marque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.camber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.flex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.shape)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.urlPhoto)
                </th>
                <th>
                    Action(s)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.camber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.urlPhoto)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>     
                @if(User.IsInRole("Admin"))
                { 
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
